{{define "main"}}
<body>
    <header>
        <div class="logo-small">
            <img src="favicon.ico" alt="very cute image" width="100">
        </div>
        <div class="contact">
            <a class="active button" href="">Home</a>
            <a class="button" href="contact">Contact</a>
            <a class="button" href="about">About</a>
            <a class="button" href="list">list</a>
        </div>
    </header>
    <main>
        <div class="big-box">
            <div class="welcome">
                <h2>Welcome to kinipk's site!</h2>
            </div>
        </div>
    </main>
</body>
{{ end }}