{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ range .Pages.ByPublishDate.Reverse }}
<div class="items">
    <h3><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
    {{ partial "metadata.html" . }}
    <a class="summary" href="{{ .RelPermalink }}">
        {{ .Summary }}
    </a>
</div>
{{ end }}

<script>
    
    items = document.getElementsByClassName('items')
    items_state = []
    class_to_add = "hover_element"
    console.log(items)

    for (i = 0; i < items.length; i++) {
        this_guy = items[i]
        items[i].addEventListener("mouseenter", function (this_guy) {
            console.log("Entered")
            this.classList.add(class_to_add)
        });
        items[i].addEventListener("mouseout", function (this_guy) { 
            console.log("Exited")
            this.classList.remove(class_to_add)
        
        });
    }
    
</script>
{{ end }}